<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Verification of Junlajobs</title>
</head>
<body>
<p>สวัสดีท่านผู้ใช้  <span th:text="${username}"></span></p>
<p>โปรดคลิ๊กลิงค์นี้เพื่อยืนยันอีเมลของท่านสำหรับการใช้งาน Junlajobs <span th:text="${link}"></span></p>
<p>หากคุณไม่ได้ขอให้ยืนยันที่อยู่นี้ คุณสามารถละเว้นอีเมลนี้ได้</p>
<p>ขอบคุณสำหรับการใช้งาน<br/>
  <em>ทีมผู้พัฒนา JUNLAJOBS</em>
</p>
</body>
</html>